<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="fakultet">
        <input type="text" name="link">
        <input type="text" name="nomer">
    
        <button type="submit">Saqlash</button>
    </form>
    
    <br>
    <hr>

    <h1>Video camera</h1>
    <br>
    
    <iframe width="868" height="488" src="https://www.youtube.com/embed/V_xro1bcAuA" title="PyTorch for Deep Learning &amp; Machine Learning – Full Course" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
</body>
</html>

